#font-face{
    font-family: 'Museo';
    src: url(../assets/fonts/museo/museo-300-webfont.woff) format("woff");
}

#font-face{
    font-family: 'Museo';
    src: url(../assets/fonts/museo/museo-500-webfont.woff) format("woff");
}

#font-face{
    font-family: 'Museo';
    src: url(../assets/fonts/museo/museo-700-webfont.woff) format("woff");
}

body{
    font-family: 'Museo', sans-serif;
    font-weight: 300;
}