@font-face {
    font-family: 'Museo';
    src: url(../assets/fonts/museo/museo-300-webfont.woff) format("woff");
}

@font-face {
    font-family: 'Museo';
    src: url(../assets/fonts/museo/museo-500-webfont.woff) format("woff");
}

@font-face {
    font-family: 'Museo';
    src: url(../assets/fonts/museo/museo-700-webfont.woff) format("woff");
}

body {
    font-family: 'Museo', sans-serif;
    font-weight: 300;
    background: url('../assets/textures/fabric_plaid.png');
}

a {
    text-decoration: none;
    text-transform: uppercase;
}


/*home page styling*/

.cara {
    position: relative;
    border: 10px solid white;
    margin: 0 auto;
    width: 95%;
    height: 50vh;
}

.slider {
    background: url('../assets/images/Rapunzel-Concept-Art-tangled-37351111-1280-812.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 50vh;
}

.sText {
    padding: 15px;
    background: rgba(128, 128, 128, 0.6);
    width: 100%;
    text-align: right;
    color: white;
}

.larrow,
.rarrow {
    width: 50px;
    position: absolute;
    top: 40%;
}

.larrow {
    left: -3%;
}

.rarrow {
    left: 96.8%;
}

.desc {
    margin: 0 auto;
    padding: 30px;
    font-size: 26px;
    text-align: center;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left,
.middle,
.right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left img,
.middle img,
.right img {
    background: grey;
    width: 22%;
    margin: 1.3%;
}

.button {
    text-align: center;
    width: 15%;
    margin-top: 20px;
    padding: 10px 40px;
    background: url('../assets/textures/az_subtle.png');
    background-color: rgba(169, 169, 169, 1);
    background-blend-mode: multiply;
    color: white;
}


/*Nav styling*/

nav {
    display: flex;
    justify-content: space-between;
}

#left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 25%;
}

#left img {
    width: 100px;
}

#right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1%;
}

.icon {
    width: 30px;
}


/*footer*/

footer {
    background: url('../assets/textures/az_subtle.png');
    background-color: rgba(169, 169, 169, 1);
    background-blend-mode: multiply;
    height: 40vh;
    text-align: center;
    margin-top: 100px;
    left: 0;
    bottom: 0;
}

#tweet {
    background: #666;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px
}

#tweet img {
    width: 25px;
}

#tweet p {
    padding: 5px;
    color: white;
}

.time {
    margin-top: 5px;
    font-size: 12px;
}

#footer-columns {
    display: flex;
    justify-items: flex-start;
    align-items: flex-start;
}

#left p {
    color: white;
}

#flogo {
    width: 100px;
}

#search {
    background: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: rgb(169, 169, 169);
}

#search img {
    height: 25px;
}

#search p {
    color: rgb(169, 169, 169);
}

.links a {
    text-decoration: none;
    text-transform: uppercase;
}

.footer-column {
    padding: 1%;
    width: 32%;
}

h3 {
    text-transform: uppercase;
    text-align: center;
    padding: 1%;
    font-size: 18px;
}

#fright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 32%;
    padding: 1%;
    border: 1px solid blue;
}

#fright a {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

.top,
.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top img,
.bottom img {
    background: grey;
    width: 25%;
    margin: 1.3%;
}


/*Student page styling*/

#student-feature {
    width: 95vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 2fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 0 auto;
}

img {
    width: 100%;
}

#focus {
    background: url('../assets/images/Alien_Bust.png');
    background-size: cover;
    background-position: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    border: 10px solid white;
}

#position-one,
#position-two,
#position-three {
    border: 10px solid white;
    background-position: center;
    background-size: cover;
}

#position-one {
    background: url('../assets/images/Alien_Bust.png');
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

#position-two {
    background: url('../assets/images/Alien_Bust.png');
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

#position-three {
    background: url('../assets/images/Alien_Bust.png');
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

#bio {
    background: white;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 20px;
}

#bio h4,
#bio p {
    padding: 10px;
}

#bio img {
    width: 100px;
    height: 100px;
}

.sicon {
    width: 25px;
    padding: 5px;
}

#project-detail {
    background: white;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    padding: 20px;
}